{% extends 'base.html.twig' %}

{% block body %}
<div class="homepage">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{{ path('produits') }}">
                    <img class="bd-placeholder-img sliderImg" src="{{ asset('images/slider/slider_product.jpg') }}">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ path('promos') }}">
                    <img class="bd-placeholder-img sliderImg" src="{{ asset('images/slider/slider_promo.jpg') }}">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ path('services') }}">
                    <img class="bd-placeholder-img sliderImg" src="{{ asset('images/slider/slider_depannage.jpg') }}">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container marketing">


        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Eco Computing <span style="color: #0c7f08; font-weight: bold">On donne une seconde chance à vos appareils.</span></h2>
                <p class="lead">Platforme de vente marketplace de produits informatique d'occasion et reconditionnés en France. </p>
                <a href="{{ path('produits') }}">
                    <button type="button" class="btn btn-outline-success btn-link" style="">Consulter les produits</button>
                </a>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('images/ecocomputing_Logo.png') }}">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Chez Eco Computing, <span style="color: #0c7f08; font-weight: bold"> nous réparons également vos appareils</span></h2>
                <p class="lead">Besoin de remplacer un ventilateur? Votre ordinateur fait un bruit bizarre? <br> aucun soucis, avec nos techniciens partenaire, nous serons ravis de vous dépanner. <br> Réalisez votre demande en quelques clics et votre devis sera livré dans l'heure suivante</p>
                <a href="{{ path('services') }}">
                    <button type="button" class="btn btn-outline-success btn-link" style="">Réaliser votre demande</button>
                </a>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('images/depannage.jpg') }}" style="">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading"><span style="color: #0c7f08; font-weight: bold">Une question ?</span></h2>
                <p class="lead">Nous serions ravi d'y répondre, contactez-nous <a href="{{ path('contact') }}" style="color: #0c7f08">ici</a> </p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('images/question_mark.jpg') }}" style="height: 300px; width: auto; float:right;">

            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
</div>

{% endblock %}
