{% extends 'back/baseBack.html.twig' %}

{% block body %}

{% include "headeronly.html.twig" only %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include "back/includes/sidebar.html.twig" only %}

        <div class="col py-3">
            <div class="container">
                <div class="col-12 m-auto">
                    <h1>Edition de produit</h1>

                    <br>

                    {{ form_start(form) }}
                        <div class="d-flex justify-content-around align-items-start">
                            <div class="col-5">
                                {{ form_row(form.name) }}
                                <div class="d-flex justify-content-between">
                                    {{ form_row(form.prix) }}
                                    {% if produit is defined %}
                                        {{ form_row(form.prixEstime) }}
                                    {% endif %}
                                </div>
                                {{ form_row(form.description) }}
                                {{ form_row(form.categorie) }}

                                {% if produit is defined %}
                                    {{ form_row(form.produitCondition) }}
                                    {{ form_row(form.statut) }}
                                {% endif %}
                                
                            </div>

                            <div class="d-flex flex-column mt-4">
                                <div class="d-flex mb-3">
                                    {% if produit is defined %}
                                        <div class="me-2" style="position:relative; width:100px; height: 100px; border:0.1px solid #ccc;">
                                            {% if produit.image1 is not null %}
                                                <img src="{{ asset('uploads/produits/' ~ produit.image1) }}" alt="">
                                                <a href="{{ path('admin_delete_product_photo', {'id': produit.id, 'photoname': produit.image1}) }}" class="text-danger close-cross" onclick="return confirm('Souhaitez-vous supprimer cette photo ?');"><i class="fa-solid fa-xmark"></i></a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if (edition is defined) and (edition == true) %}
                                        {{ form_row(form.image1, {'required': false}) }}
                                    {% else %}
                                        {{ form_row(form.image1) }} 
                                    {% endif %}
                                </div>
                                <div class="d-flex mb-3">
                                    {% if produit is defined %}
                                        <div class="me-2" style="position:relative; width:100px; height: 100px; border:0.1px solid #ccc;">
                                            {% if produit.image2 is not null %}
                                                <img src="{{ asset('uploads/produits/' ~ produit.image2) }}" alt="">
                                                <a href="{{ path('admin_delete_product_photo', {'id': produit.id, 'photoname': produit.image2}) }}" class="text-danger close-cross" onclick="return confirm('Souhaitez-vous supprimer cette photo ?');"><i class="fa-solid fa-xmark"></i></a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {{ form_row(form.image2) }}
                                </div>
                                <div class="d-flex mb-3">
                                    {% if produit is defined %}
                                        <div class="me-2" style="position:relative; width:100px; height: 100px; border:0.1px solid #ccc;">
                                            {% if produit.image3 is not null %}
                                                <img src="{{ asset('uploads/produits/' ~ produit.image3) }}" alt="">
                                                <a href="{{ path('admin_delete_product_photo', {'id': produit.id, 'photoname': produit.image3}) }}" class="text-danger close-cross" onclick="return confirm('Souhaitez-vous supprimer cette photo ?');"><i class="fa-solid fa-xmark"></i></a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {{ form_row(form.image3) }}
                                    
                                </div>
                            </div>
                        </div>

                        <div class="m-auto text-center mt-5">
                            <button type="submit" class="btn btn-success text-center">Enregistrer</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}