{% extends 'back/baseBack.html.twig' %}

{% block title %}Liste des proudits{% endblock %}


{% block body %}


<div class="container-fluid">

    <div class="row flex-nowrap">
        {% include "back/includes/sidebar.html.twig" only %}

        <div class="col py-3">
           <div class="container pb-5">
               <h1 class="text-center" style="margin-bottom: 50px;">Liste des produits</h1>
               <hr>
                <div class="row row-cols-1 row-cols-md-5 g-4 justify-content-center">
                    {% for produit in produits %}     
                        <div class="col">
                            <div class="card h-100">
                                <div style="height:150px;">
                                    {% if produit.image1 is not null %}
                                        {% if 'http' in produit.image1 %}
                                            <img src="https://m.media-amazon.com/images/I/61FIlWIQuQL._AC_SL1500_.jpg" class="card-img-top" alt="...">
                                        {% else %}
                                            <img src="{{ asset('uploads/images/' ~ produit.image1) }}" class="card-img-top" alt="...">
                                        {% endif %}
                                    {% endif %}
                                </div>

                                <div class="card-body">
                                    <h5 class="card-title">{{ produit.name }}</h5>
                                    <p class="card-text">{{ produit.description }}</p>
                                </div>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item ft-12" style="padding: 0.2rem 0.5rem; font-weight:bold;">Prix : {{ produit.prix }}€</li>
                                    <li class="list-group-item ft-12" style="padding: 0.2rem 0.5rem;">
                                        État : {{ produit.statut }}
                                    </li>
                                    {% if produit.dateAchat is not null %}
                                    <li class="list-group-item ft-12" style="padding: 0.2rem 0.5rem;">Date d'achat : {{ produit.dateAchat|date("d/m/Y") }}}</li>
                                    {% endif %}

                                    <li class="list-group-item ft-12" style="padding: 0.2rem 0.5rem;">Mis en ligne : {% if produit.createdAt is not null %}{{ produit.createdAt|format_datetime() }}{% endif %}</li>
                                </ul>

                                <div class="card-footer">
                                    <div class="d-flex justify-content-between">
                                        <a href="{{ path('admin_edit_produit', {'id': produit.id}) }}" class="card-link btn btn-primary btn-sm" style="font-size:12px; padding:0 5px;">Modifier</a>
                                        <a href="{{ path('admin_delete_produit', {'id': produit.id}) }}" class="card-link btn btn-danger btn-sm" style="font-size:12px; padding:0 5px;">Supprimer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {{ knp_pagination_render(produits) }}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
