<div class="sidebarbackmenu col-auto col-md-3 col-xl-2 px-sm-2 px-0">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <!-- <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a> -->

    
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start fixed-top" id="menu">

            <li>
                <a href="{{ path('admin') }}" class="nav-link align-middle px-0" style="background-color: white; border-radius: inherit; max-width: 350px; border-right: #0c7f08 solid">
                    <img src="{{ asset('images/ecocomputing_Logo.png') }}" style="width: 100%;">
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin') }}" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Tableau de Bord</span>
                </a>
            </li>

            <hr style="border: #2f2f2f solid" width="16.5%">
            <li class="nav-item">
                <a href="{{ path('home') }}" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Retourner sur Eco Computing</span>
                </a>
            </li>
            <hr style="border: #2f2f2f solid" width="16.5%">

            <li class="accordion-dropper">
                <div class="dropdown nav-link px-0 align-middle">
                    <div class="accordion-item" style="background-color: #0c7f08; border: inherit">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" style="background-color: #0c7f08; border: none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Produits
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <a class="dropdown-item" href="{{ path('admin_produits') }}">Liste des produits</a>
                            <a class="dropdown-item" href="{{ path('admin_new_produit') }}">Nouveau produit</a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="accordion-dropper">
                <div class="accordion-item" style="background-color: #0c7f08; border: inherit">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" style="background-color: #0c7f08; border: none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
                            Promotions
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <a class="dropdown-item" href="{{ path('admin_promos') }}">Liste des promotions</a>
                        <a class="dropdown-item" href="{{ path('admin_new_promo') }}">Nouvelle promotion</a>
                    </div>
                </div>
            </li>

            <li class="accordion-dropper">
                <div class="accordion-item" style="background-color: #0c7f08; border: inherit">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" style="background-color: #0c7f08; border: none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseOne">
                            Services
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <a class="dropdown-item" href="{{ path('admin_services') }}">Liste des services</a>
                        <a class="dropdown-item" href="{{ path('admin_new_service') }}">Nouveau service</a>
                    </div>
                </div>
            </li>

            <li class="accordion-dropper">
                <div class="accordion-item" style="background-color: #0c7f08; border: inherit">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" style="background-color: #0c7f08; border: none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseOne">
                            Categories
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <a class="dropdown-item" href="{{ path('admin_categories') }}">Liste des catégories</a>
                        <a class="dropdown-item" href="{{ path('admin_new_category') }}">Nouvelle catégorie</a>
                    </div>
                </div>
            </li>

            <hr style="border: #2f2f2f solid" width="16.5%">

            <li class="nav-item">
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Commandes</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ path('admin_users') }}" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Liste des utilisateurs</span>
                </a>
            </li>
        </ul>
    </div>
</div>