<footer class="footer py-4 bg-black" style="font-size: 1.5vh">
    <ul class="nav justify-content-center border-bottom pb-5 mb-8">
        <li class="nav-item col-4">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white text-center fw-bold">Shopping</a></li>
                <li class="nav-item mb-2"><a href="{{ path("promos") }}" class="nav-link p-0 text-white text-center">Nos promo</a></li>
                <li class="nav-item mb-2"><a href="{{ path("produits") }}" class="nav-link p-0 text-white text-center">Mon Panier</a></li>
            </ul>
        </li>
        <li class="nav-item col-4">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white text-center fw-bold">Besoin d'aide ?</a></li>
                <li class="nav-item mb-2"><a href="{{ path("home") }}" class="nav-link p-0 text-white text-center">Demander un devis </a></li>
                <li class="nav-item mb-2"><a href="{{ path("home") }}" class="nav-link p-0 text-white text-center">Nous contacter</a></li>
            </ul>
        </li>
        <li class="nav-item col-4">
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{{ path("home") }}" class="nav-link p-0 text-white text-center">Mon panier</a></li>
                <li class="nav-item mb-2"><a href="{{ path("app_register") }}" class="nav-link p-0 text-white text-center">S'inscrire sur Eco Computing</a></li>
            </ul>
        </li>
    </ul>
    <p class="text-center text-white fw-bold fst-italic">&copy; 2022 ECO COMPUTING</p>
</footer>